DAGMAN_MAX_JOBS_IDLE = 0
DAGMAN_MAX_JOBS_SUBMITTED = 0
DAGMAN_MAX_PRE_SCRIPTS = 20
DAGMAN_MAX_POST_SCRIPTS = 20

# DAGMAN_MAX_JOBS_IDLE = 0 (default 1000)
# DAGMAN_MAX_JOBS_SUBMITTED = 0 (default 0)
# DAGMAN_MAX_PRE_SCRIPTS = 0 (default 20 running at one time)
# DAGMAN_MAX_POST_SCRIPTS = 0 (default 20 running at one time)